.tableContainer {padding: 30px 15px; background-color: #fff;}
.tableContainer h3 {font-size: 22px; color: #000; margin-bottom: 15px;}
.searchTable {float: right; margin: 10px 0; border: 1px solid #f1f1f1; padding: 10px; font-size: 14px;}
table {width:100%; font-size: 14px; position: relative;}
table thead {background-color: #857bff; color: #354168;}
table th {font-weight: bold;}
table th, table td {vertical-align: middle; padding: 16px 10px;}
table td {border-top: 1px solid #f3f3f3; color: #212529;}
.tableButton {color: #212529; background-color: #f3f5f6; border: none; font-size: 14px; padding: 7px 7px 7px 25px; margin-left: 10px; border-radius: 5px; cursor: pointer;}
.editStringButton {background: url(img/icons-pencil-drawing.png) no-repeat 10% 50% #f3f5f6; background-size: 14px 14px;}
.deleteStringButton {background: url(img/icons-delete.png) no-repeat 10% 50% #f3f5f6; background-size: 14px 14px;}
.saveStringButton {background: url(img/icons-save.png) no-repeat 10% 50% #32CD32; background-size: 14px 14px;}
.cancelStringButton {background: url(img/icons-cancel.png) no-repeat 10% 50% #FF0000; background-size: 14px 14px;}
.tableButton:hover {background-color: #b3b3b3;}

.tableFooter {display: flex; margin: 20px 0;}
.tableInfo {padding-top: 10px; color: #737373;}
.tablePaginator {margin-left: auto;}
.pagination {display: flex;}
.paginationButton {}
.paginationButton div {border:1px solid #f3f3f3; color: #737373; text-decoration: none; padding: 10px; cursor: pointer;}
.paginationButton div:hover, .activePaginationButton {background-color:#857bff; color: #fff !important; border-color: #857bff !important;}

.editTableLine {width: 500px; position: absolute; background-color: #cccccc; top: 7%; left: 50%; margin-left: -250px; padding: 30px;}
.editTableLineContainer {background-color: #fff; padding-top: 30px;}
.inputContainer {margin: 15px;}
.buttonsContainer {text-align: center; margin-top: 30px; padding-bottom: 30px;}
.inputName {margin-bottom: 5px; font-weight: bold; font-size: 16px; color: #212529;}
.editTableLine h3 {text-align: center; color: #000;}
.editTableLine input {font-size: 18px;}
